.thirdCatLabel{
    margin-left: 30px;
    display: block;
    color: #777;
    font-size: 14px;
    margin-top: 0;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}