	<!-- Start maintenance Section -->
	<section class="ec-under-maintenance">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="under-maintenance">
						<div class="logo">
							<img src="assets/images/logo/logo.png" alt="logo">
						</div>
						<h1>Oh no, your payment failed.</h1>
						<p>Dont worry youy order is saved with us. You can retry the payment and order again.</p>
                        <button [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="btn btn-primary">Pay Again</button>
					</div>
				</div>
				<div class="col-md-6 disp-768">
					<div class="under-maintenance">
						<img class="maintenance-img" src="assets/images/common/payment-failed.jpg" alt="payment-failed">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End maintenance Section -->