<!-- Begin Page Content -->
<div class="container-fluid">
    <form >
        <div class="container-fluid">
            @if (isSuccess && isSuccess != undefined) {
                <div class="alert alert-success d-flex align-items-center justify-content-between" role="alert">
                    <div><i class="fa-regular text-primary fa-circle-check"></i> {{isEditMode ? 'Updated Successfully' : 'Added Successfully'}}</div>
                    <button (click)="isSuccess = !isSuccess" class="btn btn-danger"><i class="fas fa-xmark"></i></button>
                </div>
            }
            @if (error) {
                <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                    <div>
                        @for (err of errorMessage; track $index) {
                            
                            <p><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;{{err}}</p>
                        }
                    </div>
                    <button (click)="error = !error" class="btn btn-danger"><i class="fas fa-xmark"></i></button>
                </div>
            }
            <div class="card">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold h5 text-primary">{{isEditMode ? 'Edit Product' : 'Add Product '}}</h6>
                    <a routerLink="/admin/productList" routerLinkActive="router-link-active"  class="btn btn-danger "><i class="fa fa-arrow-left pr-2"></i>Back</a>
                </div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label>Category</label>
                        <select (change)="getSubCatList(productReq.catId)" [(ngModel)]="productReq.catId" class="form-control ec-register-select mt-2" name="Category" id="Category">
                            <option value="0">-- Select Category --</option>
                            @for (cat of catList.content; track $index) {
                                <option value="{{cat.id}}">{{cat.category}}</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>Sub Category</label>
                        <select (change)="getThirdCatList(productReq.subCatId)" [(ngModel)]="productReq.subCatId" class="form-control mt-2" name="SubCategory" id="SubCategory">
                            @if (subCatList.length == 0) {
                                <option value="0">-- Select Category First --</option>
                            }@else {
                                <option value="0">-- Select Sub Category --</option>
                            }
                            @for (subCat of subCatList; track $index) {
                                <option value="{{subCat.id}}">{{subCat.subCategory}}</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>Third Category</label>
                        <select [(ngModel)]="productReq.thirdCategoryId" class="form-control mt-2" name="thirdCategory" id="thirdCategory">
                            @if (thirdCatList.length == 0 && subCatList.length == 0 ) {
                                <option value="0">-- Select Category First --</option>
                            }@else if(thirdCatList.length == 0) {
                                <option value="0">-- Select Sub Category First --</option>
                            }@else {
                                <option value="0">-- Select Third Category --</option>
                            }
                            @for (thirdCat of thirdCatList; track $index) {
                                <option value="{{thirdCat.id}}">{{thirdCat.thirdCategory}}</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label>Brand</label>
                        <div class="d-flex justify-content-between">
                            <select [(ngModel)]="productReq.brandId" class="form-control mt-2" style="width: 75%;" name="brand" id="brand">
                                <option disabled value="0">-- Select Brand --</option>
                                @for (brand of brandList; track $index) {
                                    <option value="{{brand.id}}"> {{brand.brand}}</option>
                                }
                            </select>
                            <button routerLink="/admin/addBrand" class="btn btn-primary" style="width:15%;">Add New Brand</button>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Product Name</label>
                        <input [(ngModel)]="productReq.name" type="text" value="" name="txtProductName" id="txtProductName" class="form-control mt-2">
                    </div>
                    <div class="form-group mb-3">
                        <label>Product Price</label>
                        <div class="input-group mt-2">
                            <span class="input-group-text">$</span>
                            <input type="number" [(ngModel)]="productReq.price" class="form-control" name="productPrice" aria-label="Amount (to the nearest dollar)">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="coverImage">Product Image</label>
                        <div class="row">
                            <div class="col-md-8">
                                <input accept="image/*" (change)="onFileSelect($event)" name="coverImage" type="file"  class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <img [src]="selectedPicture || 'https://i.pinimg.com/originals/55/b1/b5/55b1b5dbf1488a572f8aa37b0388d321.jpg'" style="height:150px; width:150px; object-fit:contain" />
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" [(ngModel)]="productReq.description" name="productDesc" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Product Description</label>
                    </div>
                    
                    <div class="form-group">
                        <label for="Status">Active</label>
                        <input type="checkbox" [(ngModel)]="productReq.active" class="form-check-input mt-1 ms-2" name="Status" id="Status">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button (click)="submitForm()" type="submit" class="btn btn-primary btn-lg" name="btnSave"><i class="fa fa-save"></i> {{isEditMode ? 'Update' : 'Save'}}</button>
                    <a routerLink="/admin/productList" class="btn btn-danger btn-lg ms-2"><i class="fa fa-times"></i> Cancle</a>
                </div>
            </div>
        </div>
    </form>

</div>
<!-- /.container-fluid -->