	<!-- Start maintenance Section -->
	<section class="ec-under-maintenance">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="under-maintenance">
						<div class="logo">
							<img src="assets/images/logo/logo.png" alt="logo">
						</div>
						<h1>Your payment is successful.</h1>
						<p>Payment successfully completed. You can complete your order by clicking the button below.</p>
                        <button (click)="completeOrder()" routerLinkActive="router-link-active"  class="btn btn-primary">Complete Order</button>
					</div>
				</div>
				<div class="col-md-6 disp-768">
					<div class="under-maintenance">
						<img class="maintenance-img" src="assets/images/common/payment-success.jpg" alt="payment-failed">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End maintenance Section -->